Utility to convert attribute syntax between SCIM and pydantic

[RFC7644 §3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10) defines the SCIM attribute syntax, which contains optional schema urn prefixes, and separate subattributes with dots.

Pydantic represents attributes for [inclusion and exclusion](https://docs.pydantic.dev/latest/concepts/serialization/#advanced-include-and-exclude) by a dictionnary/set.

pydantic-scim2 should provide utility methods to convert from one syntax to the other, so clients and servers can pythonically build attribute restricted requests and responses.