Check that the `Schema` ids are URIs

[RFC7643 §7](https://datatracker.ietf.org/doc/html/rfc7643#section-7) indicates:

```
   id
      The unique URI of the schema.  When applicable, service providers
      MUST specify the URI, e.g.,
      "urn:ietf:params:scim:schemas:core:2.0:User".  Unlike most other
      schemas, which use some sort of Globally Unique Identifier (GUID)
      for the "id", the schema "id" is a URI so that it can be
      registered and is portable between different service providers and
      clients.  REQUIRED.
```

There should be a validator that checks that ids are URNs.