Ignore `readOnly` attributes on resource creation contexts

[RFC7644 §3.3](https://datatracker.ietf.org/doc/html/rfc7644#section-3.3) indicates that:

```
o  In the request body, attributes whose mutability is "readOnly"
      (see Sections [2.2](https://datatracker.ietf.org/doc/html/rfc7644#section-2.2) and [7](https://datatracker.ietf.org/doc/html/rfc7644#section-7) of [[RFC7643](https://datatracker.ietf.org/doc/html/rfc7643)]) SHALL be ignored.
```