Refactor Multi-Valued Attributes

Some multi-value attributes like `Group.members` are hard-written. I wonder if there could be a generic `MultiValuedAttribute` thing that would automatically add the additional fields defined in [RFC7643 §2.4](https://datatracker.ietf.org/doc/html/rfc7643#section-2.4)

> If not otherwise defined, the default set of sub-attributes for a
>   multi-valued attribute is as follows:
>
>   type
>      A label indicating the attribute's function, e.g., "work" or
>      "home".
>
>   primary
>      A Boolean value indicating the 'primary' or preferred attribute
>      value for this attribute, e.g., the preferred mailing address or
>      the primary email address.  The primary attribute value "true"
>      MUST appear no more than once.  If not specified, the value of
>      "primary" SHALL be assumed to be "false".
>
>   display
>      A human-readable name, primarily used for display purposes and
>      having a mutability of "immutable".
>
>   value
>      The attribute's significant value, e.g., email address, phone
>      number.
>
>   $ref
>      The reference URI of a target resource, if the attribute is a
>      reference.  URIs are canonicalized per [Section 6.2 of [RFC3986]](https://>datatracker.ietf.org/doc/html/rfc3986#section-6.2).
>      While the representation of a resource may vary in different SCIM
>      protocol API versions (see [Section 3.13 of [RFC7644]](https://datatracker.ietf.org/doc/>html/rfc7644#section-3.13)), URIs for
>      SCIM resources with an API version SHALL be considered comparable
>      to URIs without a version or with a different version.  For
>      example, "https://example.com/Users/12345" is equivalent to
>      "https://example.com/v2/Users/12345".

Implementations and tests should be written for [User](https://datatracker.ietf.org/doc/html/rfc7643#section-4.1.2), [Group](https://datatracker.ietf.org/doc/html/rfc7643#section-4.2), [ServiceProvider](https://datatracker.ietf.org/doc/html/rfc7643#section-5), [Schema](https://datatracker.ietf.org/doc/html/rfc7643#section-7), [BulkOperation](https://datatracker.ietf.org/doc/html/rfc7644#section-3.7) and [ListResponse](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2).