`SearchRequest` `count` and `startIndex` attribute validation

[RFC7644 §3.4.2.4](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.4) indicates that:

About `startIndex`
```
            A negative value SHALL be interpreted as 0.
            A value of "0" indicates that no resource results are
            to be returned except for "totalResults".
```

About `count` 
```
            A value less than 1 SHALL be interpreted as 1.
```
There should be a validator for those.