ListResponse does not validate correctly if schemas[0] is not primary schema

[RFC 7643, Section 3](https://datatracker.ietf.org/doc/html/rfc7643#section-3) states

> "Schemas" Attribute
      [...]
      Value order is not specified and MUST NOT impact behavior.

I have added this test to `test_list_response.py`:

```python
def test_list_response_schema_ordering():
    """Test that the "schemas" attribute order does not impact behavior
    https://datatracker.ietf.org/doc/html/rfc7643#section-3"""

    payload = {
        "totalResults": 1,
        "Resources": [
            {
                "schemas": [
                    "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
                    "urn:ietf:params:scim:schemas:core:2.0:User",
                ],
                "userName": "bjensen@example.com",
            }
        ]
    }
    ListResponse.of(User[EnterpriseUser], Group).model_validate(payload)
```

This fails with

> E       pydantic_core._pydantic_core.ValidationError: 1 validation error for ListResponse[Annotated[Union[Annotated[User[EnterpriseUser], Tag], Annotated[Group, Tag]], Discriminator]]
E       resources.0
E         Input tag 'urn:ietf:params:scim:schemas:extension:enterprise:2.0:User' found using get_schema_from_payload() does not match any of the expected tags: 'urn:ietf:params:scim:schemas:core:2.0:User', 'urn:ietf:params:scim:schemas:core:2.0:Group' [type=union_tag_invalid, input_value={'schemas': ['urn:ietf:pa...: 'bjensen@example.com'}, input_type=dict]
E           For further information visit https://errors.pydantic.dev/2.8/v/union_tag_invalid

The cause is that `scim2_models.rfc7643.resource.tagged_resource_union.get_schema_from_payload` just [gets the first entry from `payload["schemas"]`](https://github.com/yaal-coop/scim2-models/blob/0.1.11/scim2_models/rfc7643/resource.py#L348).

Good catch. Indeed we should not rely on the first schema on those situations.