In the same time [RFC7643 §3](https://datatracker.ietf.org/doc/html/rfc7643#section-3) indicates that:

```
      The "schemas" attribute is a REQUIRED attribute and is an array of
      Strings containing URIs that are used to indicate the namespaces
      of the SCIM schemas that define the attributes present in the
      current JSON structure. [...]
      All representations of SCIM schemas MUST include a
      non-empty array with value(s) of the URIs supported by that
      representation.
```
So, maybe RFC7644 §3.4.3 needs an errata?

Reported [Errata 8084](https://www.rfc-editor.org/errata/eid8084). If accepted, the same kind of errata should be reported for [3.4.2](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2).

Phil Hunt [rejects the errata](https://mailarchive.ietf.org/arch/msg/scim/b67Q2LRtKzoKR_OybTGlEw377Uo/) but gives a few explanations:

> As far as “schemas” being required, the example response is valid because it has the schemas attribute indicated as:
> > "schemas": ["urn:ietf:params:scim:api:messages:2.0:ListResponse" 
>
> [...]
> I think the confusion here is that “schemas” is required for the application/scim+json format, but the spec is silent on whether it is require for  the “Resources” attribute of the ListResponse JSON structure.

So the OP example is valid.