`SearchRequest` `attributes` and `excludedAttributes` should be mutually exclusive

[RFC7644 §3.9](https://datatracker.ietf.org/doc/html/rfc7644#section-3.9) indicates that either `attributes` or `excludedAttributes` should be provided:

```
   Clients MAY request a partial resource representation on any
   operation that returns a resource within the response by specifying
   either of the mutually exclusive URL query parameters "attributes" or
   "excludedAttributes", as follows:
```

We should add a validator for this.